{% extends 'base.html' %}
{% load plotly_dash %}


{% block content %}
    <div id="dash-container">
        {% plotly_app name="SourceWaterAnalytics" %}
    </div>
    <div class="text-center m-2">   
        <div class="text-center" style="position: relative;">
            <a href="{% url 'rainwater_details' %}" class="btn btn-primary px-5" style="position: absolute; bottom: 0; left: 0;">Previous</a>
        </div>
        <div class="text-center" style="position: relative;">
            <a href="{% url 'drinking_water_source' %}" class="btn btn-primary px-5" style="position: absolute; bottom: 0; right: 0;">Next</a>
        </div>
        
            
    </div>
{% endblock %}
