{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mx-auto px-4 py-8 bg-light">
    <h2 class="text-center text-3xl font-semibold text-blue-600 mb-8">Fresh Water Treatment Details</h2>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {% for profile, data in forms.items %}
                <div class="mb-8">
                    <div class="form-container1 max-w-4xl bg-white p-8 rounded-lg shadow-xl border border-gray-200" style='position:relative'>
                        <button type="submit" name="reset" value="{{ profile.id }}" class="btn btn-danger m-2" style="position: absolute; right: 0; top:0;">Reset</button>
                        <h4 class="text-center text-primary mb-4">{{ profile.name }}</h4>
                        {% if data.details %}
                            <fieldset disabled="disabled">
                        {% endif %}
                              {{ data.form.as_p }}
                            </fieldset>
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-primary">Save Details for {{ profile.name }}</button>
                        </div>
                    </div>
                </div>
                <!-- If you need to insert a break after every two profiles -->
                {% if forloop.counter|divisibleby:2 and not forloop.last %}
                    </div><div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                {% endif %}
            {% endfor %}
        </div>
    </form>

  <div class="text-center mt-5" style="position: relative;">
      <a href='{% url "fresh_water_treatment_profile" %}' class="btn btn-primary px-5" style="position: absolute; bottom: 0; left: 0;">Previous</a>
  </div>
  <div class="text-center mt-5" style="position: relative;">
      <a href='{% url "source_water_flow" %}' class="btn btn-primary px-5" 
         style="position: absolute; bottom: 0; right: 0;">
         Next
      </a>
</div>
</div>
{% endblock %}