{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <h3 class="text-center text-3xl font-semibold text-blue-600 mb-8">Other Consumptions</h3>
    
    <form method="POST" action='' >
        {% if details %}
        <div class="text-center my-2 p-3" style="position: relative;">
            <a href='{% url "delete_other_consumption" %}' class="btn btn-danger mb-4 mr-2" style="position: absolute; top: 0; right:0;">Reset</a>
        </div>
        {% endif %}
        {% csrf_token %}
        {% if details %}
        <fieldset disabled="disabled" class="max-w-6xl mx-auto bg-white p-8 rounded-lg shadow-xl border border-gray-200  form-container grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
        {% else %}
        <fieldset class="max-w-6xl mx-auto bg-white p-8 rounded-lg shadow-xl border border-gray-200  form-container grid grid-cols-1 md:grid-cols-2 gap-4 mb-5">
        {% endif %}
            <div class="mb-6">
                <label for="{{ form.process_type.id_for_label }}" class="block text-sm font-medium text-gray-800 mb-2">
                    Other Type of Process:
                </label>
                {{ form.process_type }}
                {% if form.process_type.errors %}
                <p class="text-red-600 text-xs italic mt-1">{{ form.process_type.errors.as_text }}</p>
                {% endif %}
            </div>
            {% if details.other_source_name %}
            <div class="mb-6">
                <label for="{{ form.other_source_name.id_for_label }}" class="block text-sm font-medium text-gray-800 mb-2">
                    Water Source:
                </label>
                {{ form.other_source_name }}
                {% if form.other_source_name.errors %}
                <p class="text-red-600 text-xs italic mt-1">{{ form.other_source_name.errors.as_text }}</p>
                {% endif %}
            </div>
            {% else %}
            <div class="mb-6">
                <label for="{{ form.other_source.id_for_label }}" class="block text-sm font-medium text-gray-800 mb-2">
                    Water Source:
                </label>
                {{ form.other_source }}
                {% if form.other_source.errors %}
                <p class="text-red-600 text-xs italic mt-1">{{ form.other_source.errors.as_text }}</p>
                {% endif %}
            </div>
            {% endif %}
            <div class="mb-6 other-source hidden">
                <label for="{{ form.other_source_name.id_for_label }}" class="block text-sm font-medium text-gray-800 mb-2">
                    Specify other source:
                </label>
                {{ form.other_source_name }}
                {% if form.other_source_name.errors %}
                <p class="text-red-600 text-xs italic mt-1">{{ form.other_source_name.errors.as_text }}</p>
                {% endif %}
            </div>
            <div class="mb-6">
                <label for="{{ form.amount_consumed.id_for_label }}" class="block text-sm font-medium text-gray-800 mb-2">
                    Quantity of Water Consumed (in litres):
                </label>
                {{ form.amount_consumed }}
                {% if form.amount_consumed.errors %}
                <p class="text-red-600 text-xs italic mt-1">{{ form.amount_consumed.errors.as_text }}</p>
                {% endif %}
            </div>
            <div class="mb-6">
                <label for="{{ form.reject_to.id_for_label }}" class="block text-sm font-medium text-gray-800 mb-2">
                    Reject To:
                </label>
                {{ form.reject_to }}
                {% if form.reject_to.errors %}
                <p class="text-red-600 text-xs italic mt-1">{{ form.reject_to.errors.as_text }}</p>
                {% endif %}
            </div>
            <div class="mb-6">
                <label for="{{ form.car_wash.id_for_label }}" class="block text-sm font-medium text-gray-800 mb-2">
                    Quantity of water used in car wash:
                </label>
                {{ form.car_wash }}
                {% if form.car_wash.errors %}
                <p class="text-red-600 text-xs italic mt-1">{{ form.car_wash.errors.as_text }}</p>
                {% endif %}
            </div>
            <div class="mb-6">
                <label for="{{ form.others.id_for_label }}" class="block text-sm font-medium text-gray-800 mb-2">
                    Others:
                </label>
                {{ form.others }}
                {% if form.others.errors %}
                <p class="text-red-600 text-xs italic mt-1">{{ form.others.errors.as_text }}</p>
                {% endif %}
            </div>
            
           
        </fieldset>                     
        <div class="text-center mt-5" style="position: relative;">
            <a href='{% url "irrigation_consumption" %}' class="btn btn-primary px-5" style="position: absolute; bottom: 0; left: 0;">Previous</a>
        </div>
        {% if details %}
        <div class="text-center mt-5" style="position: relative;">
            <a href='{% url "wastewater_treatment" %}' class="btn btn-primary px-5" style="position: absolute; bottom: 0; right: 0;">Next</a>
        </div>
        {% else %}
        <div class="text-center mt-5" style="position: relative;">
            <button type="submit" class="btn btn-primary px-5" style="position: absolute; bottom: 0; right: 0;">Next</button>
        </div>
        {% endif %}    
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const sourceNameField = document.querySelector('#{{ form.other_source.id_for_label }}');
        console.log(sourceNameField.value)
        const otherSourceContainer = document.querySelector('.other-source');
    
        sourceNameField.addEventListener('change', function() {
            otherSourceContainer.classList.toggle('hidden', sourceNameField.value !== '9');
        });

    });
</script>


{% endblock %}
