{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mx-auto px-4 py-8 bg-light">
    <div class="w-full">
        <h2 class="text-center text-3xl font-semibold text-blue-600 mb-8">Fresh Water Sources</h2>
        <div class="flex flex-wrap justify-between pt-5" style="position: relative;">
            <div class="w-full md:w-1/2 lg:w-1/2 pr-0 md:pr-4 mb-8">
                <form method="POST" action="" class="form-container1 max-w-4xl bg-white p-8 rounded-lg shadow-xl border border-gray-200">
                    {% csrf_token %}
                    <h3 class="text-center">Add Sources</h3>
                    <div class="mb-6">
                        {{ form.source_name.label_tag }}
                        {{ form.source_name }}
                        {% if form.source_name.errors %}
                            <div class="text-danger">{{ form.source_name.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="mb-6">
                        {{ form.source_daily_consumption.label_tag }}
                        {{ form.source_daily_consumption }}
                        {% if form.source_daily_consumption.errors %}
                            <div class="text-danger">{{ form.source_daily_consumption.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="mb-6">
                        {{ form.source_water_cost.label_tag }}
                        {{ form.source_water_cost }}
                        {% if form.source_water_cost.errors %}
                            <div class="text-danger">{{ form.source_water_cost.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
               
            
            <div class="w-full md:w-1/2 lg:w-1/2 pr-0 md:pr-4 mb-8">
                <div id="details-display"
                    class="max-w-full md:max-w-4xl bg-white p-8 rounded-lg shadow-xl border border-gray-200">
                    {% if all_sources|length %}
                        <a href="{% url 'delete_source_water_profile' %}" class="btn btn-danger mb-4" style="position: absolute; right: 0; top:0;">Reset</a>
                    {% endif %}
                    <div class="mb-6">
                        <div style="position:relative">
                            <h3 class="text-centre">Existing Water Sources</h3>
                                {% if all_sources|length %}
                                    {% comment %} <p class="text-secondary mb-4">Click on the treatment method to edit it.</p> {% endcomment %}
                                    <ul class="list-group">
                                        {% for source in all_sources %}
                                            <li class="list-group-item flex justify-between items-center">
                                                <span>{{ source.get_source_name_display }}</span>
                                                <span class="bg-gray-500 text-white px-2 py-2 border rounded">{{ source.source_daily_consumption }} kl &nbsp | &nbsp {{ source.source_water_cost }} ₹</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p class="text-secondary mb-4">No Sources added Yet.</p>
                                {% endif %}
                        </div>
                    </div>
                </div>       
            </div>
        </div>    
        
    </div>
    <div class="text-center mt-5" style="position: relative;">
        <a href="{% url 'basic_details' %}" class="btn btn-primary px-5 absolute bottom-0 left-0">Previous</a>
    </div>
    <div class="text-center mt-5" style="position: relative;">
        <a href="{% url 'tanks_capacities' %}" class="btn btn-primary px-5 absolute bottom-0 right-0">Next</a>
    </div> 

</div>
{% endblock %}
</body>
</html>
