{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <h3 class="text-center text-3xl font-semibold text-blue-600 mb-8">Tanks and Capacities</h3>
    
    <form method="POST" action='' >
        {% if details %}
        <div class="text-center my-2 p-3" style="position: relative;">
            <a href='{% url "delete_tanks_and_capacities" %}' class="btn btn-danger mb-4 mr-2" style="position: absolute; top: 0; right:0;">Reset</a>
        </div>
        {% endif %}
        {% csrf_token %}
        {% if details %}
        <fieldset disabled="disabled" class="max-w-6xl mx-auto bg-white p-8 rounded-lg shadow-xl border border-gray-200  form-container grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
        {% else %}
        <fieldset class="max-w-6xl mx-auto bg-white p-8 rounded-lg shadow-xl border border-gray-200  form-container grid grid-cols-1 md:grid-cols-2 gap-4 mb-5">
        {% endif %}
            <div class="mb-6">
                <label for="{{ form.tank_name.id_for_label }}" class="block text-sm font-medium text-gray-800 mb-2">
                    Tank Name:
                </label>
                {{ form.tank_name }}
                {% if form.tank_name.errors %}
                <p class="text-red-600 text-xs italic mt-1">{{ form.tank_name.errors.as_text }}</p>
                {% endif %}
            </div>
            {% if details.other_source_name %}
            <div class="mb-6">
                <label for="{{ form.other_source_name.id_for_label }}" class="block text-sm font-medium text-gray-800 mb-2">
                    Water Source:
                </label>
                {{ form.other_source_name }}
                {% if form.other_source_name.errors %}
                <p class="text-red-600 text-xs italic mt-1">{{ form.other_source_name.errors.as_text }}</p>
                {% endif %}
            </div>
            {% else %}
            <div class="mb-6">
                <label for="{{ form.tank_source.id_for_label }}" class="block text-sm font-medium text-gray-800 mb-2">
                    Water Source:
                </label>
                {{ form.tank_source }}
                {% if form.tank_source.errors %}
                <p class="text-red-600 text-xs italic mt-1">{{ form.tank_source.errors.as_text }}</p>
                {% endif %}
            </div>
            {% endif %}
            <div class="mb-6 other-source hidden">
                <label for="{{ form.other_source_name.id_for_label }}" class="block text-sm font-medium text-gray-800 mb-2">
                    Specify other source:
                </label>
                {{ form.other_source_name }}
                {% if form.other_source_name.errors %}
                <p class="text-red-600 text-xs italic mt-1">{{ form.other_source_name.errors.as_text }}</p>
                {% endif %}
            </div>
            <div class="mb-6">
                <label for="{{ form.capacity.id_for_label }}" class="block text-sm font-medium text-gray-800 mb-2">
                    Capacity:
                </label>
                {{ form.capacity }}
                {% if form.capacity.errors %}
                <p class="text-red-600 text-xs italic mt-1">{{ form.capacity.errors.as_text }}</p>
                {% endif %}
            </div>
            {% if details.other_sequence_flow %}
            <div class="mb-6">
                <label for="{{ form.other_sequence_flow.id_for_label }}" class="block text-sm font-medium text-gray-800 mb-2">
                    Sequence Flow:
                </label>
                {{ form.other_sequence_flow }}
                {% if form.other_sequence_flow.errors %}
                <p class="text-red-600 text-xs italic mt-1">{{ form.other_sequence_flow.errors.as_text }}</p>
                {% endif %}
            </div>
            {% else %}
            <div class="mb-6">
                <label for="{{ form.sequence_flow.id_for_label }}" class="block text-sm font-medium text-gray-800 mb-2">
                    Sequence Flow:
                </label>
                {{ form.sequence_flow }}
                {% if form.sequence_flow.errors %}
                <p class="text-red-600 text-xs italic mt-1">{{ form.sequence_flow.errors.as_text }}</p>
                {% endif %}
            </div>
            {% endif %}
            <div class="mb-6 other-sequence-flow hidden">
                <label for="{{ form.other_sequence_flow.id_for_label }}" class="block text-sm font-medium text-gray-800 mb-2">
                    Specify other sequence:
                </label>
                {{ form.other_sequence_flow }}
                {% if form.other_sequence_flow.errors %}
                <p class="text-red-600 text-xs italic mt-1">{{ form.other_sequence_flow.errors.as_text }}</p>
                {% endif %}
            </div>
            <div class="mb-6">
                <label for="{{ form.technology_type.id_for_label }}" class="block text-sm font-medium text-gray-800 mb-2">
                    Technology Type:
                </label>
                {{ form.technology_type }}
                {% if form.technology_type.errors %}
                <p class="text-red-600 text-xs italic mt-1">{{ form.technology_type.errors.as_text }}</p>
                {% endif %}
            </div>
        </fieldset>   
        {% if water_treatment_details.treatment_method == 'STP' %}                  
        <div class="text-center mt-5" style="position: relative;">
            <a href='{% url "wastewater_treatment_STP" %}' class="btn btn-primary px-5" style="position: absolute; bottom: 0; left: 0;">Previous</a>
        </div>
        {% elif water_treatment_details.treatment_method == 'ETP' %}               
        <div class="text-center mt-5" style="position: relative;">
            <a href='{% url "wastewater_treatment_ETP" %}' class="btn btn-primary px-5" style="position: absolute; bottom: 0; left: 0;">Previous</a>
        </div>
        {% else %}                  
        <div class="text-center mt-5" style="position: relative;">
            <a href='{% url "wastewater_treatment_Others" %}' class="btn btn-primary px-5" style="position: absolute; bottom: 0; left: 0;">Previous</a>
        </div>
        {% endif %}
        {% if details %}
        <div class="text-center mt-5" style="position: relative;">
            <a href='{% url "water_quality_profile" %}' class="btn btn-primary px-5" style="position: absolute; bottom: 0; right: 0;">Next</a>
        </div>
        {% else %}
        <div class="text-center mt-5" style="position: relative;">
            <button type="submit" class="btn btn-primary px-5" style="position: absolute; bottom: 0; right: 0;">Next</button>
        </div>
        {% endif %}    
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const sourceNameField = document.querySelector('#{{ form.tank_source.id_for_label }}');
        console.log(sourceNameField.value)
        const otherSourceContainer = document.querySelector('.other-source');
    
        sourceNameField.addEventListener('change', function() {
            otherSourceContainer.classList.toggle('hidden', sourceNameField.value !== '9');
        });

        const sequenceFlowField = document.querySelector('#{{ form.sequence_flow.id_for_label }}');
        const otherSequenceFlowContainer = document.querySelector('.other-sequence-flow');
    
        sequenceFlowField.addEventListener('change', function() {
            otherSequenceFlowContainer.classList.toggle('hidden', sequenceFlowField.value !== 'Others');
        });

    });
</script>


{% endblock %}
