{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mx-auto px-4 py-8 bg-light">
    <div class="w-full">
        <h2 class="text-center text-4xl font-bold text-blue-600 mb-10">Tanks and Capacities</h2>
        <p class="text-gray-600 mb-5">
            <strong>How to fill this form?</strong> First, select the name of the tank used, and corresponding to that tank, enter the storage capacity.
        </p>
        <div class="flex flex-wrap -mx-4">
            <div class="w-full md:w-1/2 px-4 mb-8">
                <form method="POST" action="" class="bg-white p-8 rounded-lg shadow-xl border border-gray-200 relative">
                    {% csrf_token %}
                    <h3 class="text-lg font-semibold text-blue-500 mb-6">Add Tank Names</h3>
                    <div class="mb-6">
                        <div class="space-y-4">
                            {% for name in tank_names %}
                            <button type="button" onclick="addInput('{{ name }}', this)" class="btn btn-info w-full" value="{{ name }}">{{ name }}</button>
                            {% endfor %}
                        </div>    
                        <div id="inputs"></div>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        
            <div class="w-full md:w-1/2 px-4 mb-8">
                <div class="bg-white p-8 rounded-lg shadow-xl border border-gray-200 relative">
                    {% if all_tanks|length %}
                        <a href="{% url 'delete_tanks_capacities' %}" class="btn btn-danger absolute right-0 top-0 m-2">Reset</a>
                    {% endif %}
                    <h3 class="text-lg font-semibold text-blue-500 mb-6">Existing Tanks</h3>
                    {% if all_tanks|length %}
                        <ul class="list-group">
                            {% for tank in all_tanks %}
                                <li class="list-group-item flex justify-between items-center">
                                    <span>{{ tank.name }}</span>
                                    <span class="badge bg-primary rounded-full px-4">{{ tank.capacity }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-secondary mb-4">No tank added yet</p>
                    {% endif %}
                </div>    
            </div>
        </div>
        
        <div class="flex justify-between mt-8">
            <a href="{% url 'source_water_profile' %}" class="btn btn-primary px-5">Previous</a>
            <a href="{% url 'fresh_water_treatment_profile' %}" class="btn btn-primary px-5">Next</a>
        </div> 
    </div>
</div>

<script>
    function addInput(buttonValue, buttonElement) {
        // Generate a unique ID for the input group based on the button value and a random number for "Others"
        const uniqueSuffix = buttonValue === 'Others' ? Math.random().toString(36).substr(2, 9) : '';
        const inputGroupId = `input-group-${buttonValue.replace(/\s+/g, '-').toLowerCase()}-${uniqueSuffix}`;
    
        // Check if the button is not "Others", then toggle the existing group
        if (buttonValue !== 'Others') {
            const existingInputGroup = document.getElementById(inputGroupId);
            if (existingInputGroup) {
                // Toggle the visibility of the existing input group
                existingInputGroup.style.display = existingInputGroup.style.display === 'none' ? 'block' : 'none';
                return; // Prevent further execution to avoid creating a new group
            }
        }
    
        // Create a new input group if it does not exist or if "Others" button was clicked
        const inputGroup = document.createElement('div');
        inputGroup.setAttribute('id', inputGroupId);
        inputGroup.classList.add('mb-4', 'bg-gray-100', 'p-4', 'rounded');
        inputGroup.innerHTML = `
            ${buttonValue === 'Others' ? `
            <label class="block text-gray-700 text-sm font-bold mb-2">Tank Name</label>
            <input type="text" name="tank_name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-2" required>
            ` : ''}
            <label class="block text-gray-700 text-sm font-bold mb-2">${buttonValue} Capacity (KL)</label>
            <input type="number" name="capacity" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-2" min="0" required>
            <input type="hidden" name="name" value="${buttonValue}">
        `;
    
        // Set initial display style to 'block'
        inputGroup.style.display = 'block';
    
        // Insert the new input group after the button in the DOM
        buttonElement.parentNode.insertBefore(inputGroup, buttonElement.nextSibling);
    }
    
</script>
{% endblock %}
